# ベースラインの作成

In [3]:
import numpy as np
import pandas as pd
import os
import pickle
import gc
# import pandas_profiling as pdg # 分布確認
# from ydata_profiling import ProfileReport # 分布確認
import matplotlib.pyplot as plt # 可視化
# 前処理
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder, OneHotEncoder
# モデリング
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold
from sklearn.metrics import accuracy_score, roc_auc_score, confusion_matrix

import warnings
warnings.filterwarnings('ignore')

In [4]:
# matplotlibで日本語表示したい場合はコレをinstall
! pip install japanize-matplotlib
import japanize_matplotlib
%matplotlib inline

Collecting japanize-matplotlib
  Downloading japanize-matplotlib-1.1.3.tar.gz (4.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.1/4.1 MB 6.4 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from japanize-matplotlib) (3.7.5)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->japanize-matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->japanize-matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->japanize-matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->japanize-matplotlib) (1.4.7)
Requirement already satisfied: numpy<2,>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib->japanize-matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->japanize-matplotlib) (24.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->japanize-matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->japanize-matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->japanize-matplotlib) (2.9.0.post0)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.10/dist-packages (from numpy<2,>=1.20->matplotlib->japanize-matplotlib) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.10/dist-packages (from numpy<2,>=1.20->matplotlib->japanize-matplotlib) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.10/dist-packages (from numpy<2,>=1.20->matplotlib->japanize-matplotlib) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.10/dist-packages (from numpy<2,>=1.20->matplotlib->japanize-matplotlib) (2025.0.1)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.10/dist-packages (from numpy<2,>=1.20->matplotlib->japanize-matplotlib) (2022.0.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.10/dist-packages (from numpy<2,>=1.20->matplotlib->japanize-matplotlib) (2.4.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib->japanize-matplotlib) (1.17.0)
Requirement already satisfied: intel-openmp>=2024 in /usr/local/lib/python3.10/dist-packages (from mkl->numpy<2,>=1.20->matplotlib->japanize-matplotlib) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.10/dist-packages (from mkl->numpy<2,>=1.20->matplotlib->japanize-matplotlib) (2022.0.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.10/dist-packages (from tbb==2022.*->mkl->numpy<2,>=1.20->matplotlib->japanize-matplotlib) (1.2.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.10/dist-packages (from mkl_umath->numpy<2,>=1.20->matplotlib->japanize-matplotlib) (2024.2.0)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.10/dist-packages (from intel-openmp>=2024->mkl->numpy<2,>=1.20->matplotlib->japanize-matplotlib) (2024.2.0)
Building wheels for collected packages: japanize-matplotlib
  Building wheel for japanize-matplotlib (setup.py) ... done
  Created wheel for japanize-matplotlib: filename=japanize_matplotlib-1.1.3-py3-none-any.whl size=4120257 sha256=44278922928f3a70a8ce7afc9f0e36ecdcb7f4ca5ea24f29568ce332d76ce491
  Stored in directory: /root/.cache/pip/wheels/61/7a/6b/df1f79be9c59862525070e157e62b08eab8ece27c1b68fbb94
Successfully built japanize-matplotlib
Installing collected packages: japanize-matplotlib
Successfully installed japanize-matplotlib-1.1.3

In [5]:
df_train = pd.read_csv('/kaggle/input/titanic/train.csv')
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
print(df_train.shape)
print('レコード数：',len(df_train))
print('カラム数： ', len(df_train.columns))

(891, 12)
レコード数： 891
カラム数：  12

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

#### データ型の変換

In [8]:
print('-'*10, 'object型に変換', '-'*10)
df_train['Pclass'] = df_train['Pclass'].astype(object)
print(df_train[['Pclass']].info())

print('-'*10, 'もとの型に変換', '-'*10)
df_train['Pclass'] = df_train['Pclass'].astype(int)
print(df_train[['Pclass']].info())

---------- object型に変換 ----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    object
dtypes: object(1)
memory usage: 7.1+ KB
None
---------- もとの型に変換 ----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
dtypes: int64(1)
memory usage: 7.1 KB
None

#### 欠損値の確認

In [9]:
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

#### データセットの作成
目的変数と説明変数を作成

例）
目的変数：Survived
説明変数：Pclass, Fare(ともに欠損値がなく、数値データだから)

In [10]:
X_train, y_train, id_train = df_train[['Pclass', 'Fare']], df_train[['Survived']], df_train[['PassengerId']]

print(X_train.shape, y_train.shape, id_train.shape)

(891, 2) (891, 1) (891, 1)

#### バリデーション設計
作成するモデルの精度を手元のデータで判断すること
#### ■ホールドアウト検証
-> trainデータを「学習データ」と「検証データ」に分割する
【メリット】
- モデル学習一回のみ

【デメリット】
- 学習に使わないデータが生じる
- 検証データの選び方によって評価値が偏る可能性がある

In [16]:
# va:validationの略
X_tr, X_va, y_tr, y_va = train_test_split(X_train,
                                          y_train,
                                          test_size=0.2,
                                          shuffle=True,
                                          stratify=y_train,
                                          random_state=42)

print(X_tr.shape, y_tr.shape)
print(X_va.shape, y_va.shape)
print(f"y_train: {y_train['Survived'].mean():.3f}")
print(f"y_tr: {y_tr['Survived'].mean():.3f}")
print(f"y_va: {y_va['Survived'].mean():.3f}")

(712, 2) (712, 1)
(179, 2) (179, 1)
y_train: 0.384
y_tr: 0.383
y_va: 0.385

#### クロスバリデーション(交差検証)
-> trainデータから、複数の「学習データ」と「検証データ」の組を作成する
【メリット】
- すべてのデータを学習に利用できる
- 検証データの選び型による偏りを抑制できる
【デメリット】
- モデル学習を複数回行う必要がある

In [19]:
# 5fold クロスバリデーション
n_splits = 5
cv = list(StratifiedKFold(n_splits=n_splits, shuffle=True, random_state=42).split(X_train, y_train))
print(cv)

for nfold in np.arange(n_splits):
    print('-'*20, nfold, '-'*20)
    idx_tr, idx_va = cv[nfold][0], cv[nfold][1]
    X_tr, y_tr = X_train.loc[idx_tr, :], y_train.loc[idx_tr, :]
    X_va, y_va = X_train.loc[idx_va, :], y_train.loc[idx_va, :]
    print(X_tr.shape, y_tr.shape)
    print(X_va.shape, y_va.shape)
    print(f"y_train: {y_train['Survived'].mean():.3f}")
    print(f"y_tr: {y_tr['Survived'].mean():.3f}")
    print(f"y_va: {y_va['Survived'].mean():.3f}")

[(array([  0,   1,   2,   3,   5,   7,   8,   9,  10,  11,  12,  14,  15,
        16,  17,  18,  20,  21,  22,  23,  25,  27,  29,  32,  33,  35,
        36,  37,  38,  39,  40,  41,  42,  44,  46,  47,  48,  49,  50,
        51,  52,  54,  56,  57,  58,  59,  61,  62,  65,  67,  69,  70,
        71,  72,  73,  74,  76,  77,  78,  80,  81,  82,  83,  84,  85,
        86,  87,  88,  89,  91,  92,  93,  95,  96,  97,  98, 100, 101,
       102, 104, 106, 107, 109, 110, 111, 112, 115, 116, 117, 119, 120,
       121, 122, 123, 124, 125, 127, 129, 130, 132, 133, 135, 136, 137,
       138, 139, 140, 142, 144, 145, 149, 151, 152, 154, 156, 157, 158,
       159, 160, 161, 162, 163, 165, 166, 167, 168, 169, 171, 172, 175,
       178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190,
       191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 204,
       205, 206, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218,
       219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231,
       232, 233, 234, 236, 237, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 250, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261,
       262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 274, 275,
       276, 277, 278, 279, 280, 281, 284, 288, 289, 291, 292, 294, 295,
       296, 297, 298, 299, 300, 301, 302, 303, 305, 307, 308, 309, 310,
       311, 312, 315, 316, 317, 318, 319, 320, 321, 323, 325, 326, 327,
       328, 329, 330, 332, 333, 334, 337, 338, 339, 340, 342, 344, 346,
       349, 351, 352, 353, 354, 355, 356, 358, 359, 360, 361, 364, 366,
       367, 368, 370, 373, 374, 375, 376, 377, 378, 379, 380, 382, 384,
       385, 386, 387, 388, 389, 390, 391, 392, 393, 395, 396, 397, 398,
       400, 401, 402, 403, 404, 405, 408, 409, 410, 411, 413, 414, 415,
       417, 418, 419, 420, 421, 422, 423, 424, 427, 428, 430, 431, 432,
       434, 436, 437, 438, 439, 441, 442, 443, 444, 445, 446, 447, 450,
       451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 462, 463, 464,
       466, 467, 468, 470, 471, 472, 474, 475, 476, 478, 479, 480, 481,
       482, 484, 485, 486, 487, 488, 489, 490, 491, 492, 494, 495, 496,
       497, 499, 500, 501, 502, 503, 504, 505, 506, 508, 509, 510, 511,
       512, 513, 514, 515, 516, 517, 519, 520, 521, 522, 524, 525, 526,
       527, 528, 529, 530, 531, 532, 533, 534, 536, 537, 538, 540, 541,
       542, 543, 544, 545, 546, 547, 548, 551, 552, 553, 554, 555, 556,
       557, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570,
       571, 572, 573, 574, 575, 576, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
       599, 600, 601, 603, 604, 605, 606, 608, 609, 610, 612, 613, 615,
       616, 618, 619, 620, 621, 622, 623, 624, 629, 630, 631, 632, 633,
       634, 635, 636, 639, 640, 642, 643, 644, 645, 646, 648, 649, 650,
       651, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664,
       666, 667, 669, 670, 671, 672, 673, 674, 675, 676, 677, 679, 680,
       681, 682, 684, 687, 688, 689, 690, 691, 692, 693, 694, 695, 697,
       698, 699, 700, 701, 702, 703, 704, 705, 706, 709, 710, 711, 712,
       713, 714, 715, 716, 717, 719, 720, 721, 722, 725, 726, 727, 728,
       730, 731, 733, 735, 736, 738, 739, 740, 741, 742, 743, 744, 745,
       746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758,
       759, 760, 761, 762, 763, 764, 766, 767, 768, 769, 770, 771, 772,
       774, 775, 776, 777, 778, 781, 782, 783, 784, 786, 789, 791, 792,
       794, 797, 798, 800, 802, 804, 805, 806, 807, 808, 809, 810, 812,
       813, 815, 816, 817, 819, 820, 821, 823, 824, 825, 826, 827, 828,
       829, 831, 832, 833, 834, 835, 836, 837, 838, 840, 841, 842, 843,
       844, 846, 847, 849, 850, 851, 852, 853, 854, 855, 857, 858, 859,
       860, 861, 863, 864, 865, 866, 867, 868, 869, 871, 872, 874, 876,
       877, 878, 879, 880, 881, 882, 886, 887, 888, 889]), array([  4,   6,  13,  19,  24,  26,  28,  30,  31,  34,  43,  45,  53,
        55,  60,  63,  64,  66,  68,  75,  79,  90,  94,  99, 103, 105,
       108, 113, 114, 118, 126, 128, 131, 134, 141, 143, 146, 147, 148,
       150, 153, 155, 164, 170, 173, 174, 176, 177, 203, 207, 235, 238,
       249, 251, 273, 282, 283, 285, 286, 287, 290, 293, 304, 306, 313,
       314, 322, 324, 331, 335, 336, 341, 343, 345, 347, 348, 350, 357,
       362, 363, 365, 369, 371, 372, 381, 383, 394, 399, 406, 407, 412,
       416, 425, 426, 429, 433, 435, 440, 448, 449, 461, 465, 469, 473,
       477, 483, 493, 498, 507, 518, 523, 535, 539, 549, 550, 558, 577,
       587, 602, 607, 611, 614, 617, 625, 626, 627, 628, 637, 638, 641,
       647, 652, 665, 668, 678, 683, 685, 686, 696, 707, 708, 718, 723,
       724, 729, 732, 734, 737, 765, 773, 779, 780, 785, 787, 788, 790,
       793, 795, 796, 799, 801, 803, 811, 814, 818, 822, 830, 839, 845,
       848, 856, 862, 870, 873, 875, 883, 884, 885, 890])), (array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  17,  18,  19,  21,  24,  25,  26,  27,  28,  29,  30,
        31,  32,  33,  34,  36,  37,  38,  41,  43,  44,  45,  46,  47,
        49,  50,  51,  53,  54,  55,  57,  58,  59,  60,  63,  64,  65,
        66,  68,  69,  70,  73,  74,  75,  77,  79,  80,  81,  82,  83,
        84,  86,  87,  89,  90,  92,  93,  94,  95,  96,  99, 100, 101,
       102, 103, 105, 107, 108, 109, 111, 112, 113, 114, 115, 116, 118,
       119, 122, 123, 125, 126, 128, 129, 130, 131, 132, 133, 134, 135,
       136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148,
       149, 150, 151, 152, 153, 155, 156, 157, 160, 161, 163, 164, 165,
       166, 167, 168, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179,
       180, 181, 182, 183, 184, 185, 187, 188, 189, 190, 191, 194, 195,
       197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209,
       210, 211, 214, 215, 216, 217, 219, 220, 222, 223, 225, 226, 227,
       228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240,
       241, 242, 243, 244, 245, 249, 250, 251, 252, 253, 254, 255, 256,
       258, 259, 260, 261, 262, 265, 266, 268, 269, 271, 272, 273, 274,
       275, 277, 279, 280, 282, 283, 284, 285, 286, 287, 290, 291, 292,
       293, 294, 295, 296, 297, 298, 299, 301, 302, 303, 304, 306, 307,
       311, 312, 313, 314, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 338, 339, 340,
       341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 352, 354, 355,
       356, 357, 360, 361, 362, 363, 365, 366, 368, 369, 370, 371, 372,
       374, 375, 376, 378, 381, 382, 383, 386, 387, 388, 390, 391, 394,
       396, 397, 398, 399, 401, 402, 403, 405, 406, 407, 408, 409, 412,
       413, 415, 416, 417, 418, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 431, 432, 433, 434, 435, 436, 437, 439, 440, 441, 442, 443,
       444, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458,
       459, 460, 461, 463, 464, 465, 467, 468, 469, 470, 471, 473, 475,
       476, 477, 478, 479, 481, 483, 484, 485, 486, 488, 490, 492, 493,
       495, 496, 497, 498, 499, 500, 501, 504, 506, 507, 508, 509, 510,
       511, 512, 514, 515, 516, 517, 518, 519, 520, 521, 523, 524, 525,
       526, 527, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540,
       541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 553, 554,
       556, 557, 558, 559, 560, 561, 562, 564, 565, 566, 567, 569, 570,
       571, 574, 576, 577, 579, 580, 581, 582, 583, 585, 587, 588, 589,
       590, 591, 592, 593, 595, 597, 598, 600, 601, 602, 603, 604, 605,
       607, 608, 610, 611, 612, 614, 615, 616, 617, 619, 621, 623, 625,
       626, 627, 628, 630, 633, 634, 636, 637, 638, 639, 640, 641, 642,
       643, 644, 645, 646, 647, 649, 650, 651, 652, 653, 654, 655, 657,
       658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 670, 671,
       672, 673, 675, 677, 678, 680, 681, 683, 684, 685, 686, 687, 688,
       689, 690, 693, 696, 697, 698, 699, 700, 702, 703, 704, 705, 706,
       707, 708, 709, 710, 712, 713, 714, 716, 717, 718, 720, 722, 723,
       724, 725, 726, 727, 728, 729, 731, 732, 734, 735, 737, 738, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 754, 756,
       757, 758, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770,
       773, 774, 776, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788,
       789, 790, 791, 792, 793, 794, 795, 796, 797, 799, 800, 801, 802,
       803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815,
       816, 817, 818, 819, 820, 821, 822, 824, 825, 827, 829, 830, 831,
       832, 833, 834, 835, 836, 837, 839, 840, 842, 843, 844, 845, 846,
       847, 848, 849, 850, 851, 853, 854, 855, 856, 857, 858, 860, 861,
       862, 863, 864, 865, 866, 867, 869, 870, 871, 872, 873, 875, 876,
       877, 880, 881, 883, 884, 885, 886, 887, 888, 889, 890]), array([  0,  16,  20,  22,  23,  35,  39,  40,  42,  48,  52,  56,  61,
        62,  67,  71,  72,  76,  78,  85,  88,  91,  97,  98, 104, 106,
       110, 117, 120, 121, 124, 127, 154, 158, 159, 162, 169, 186, 192,
       193, 196, 212, 213, 218, 221, 224, 246, 247, 248, 257, 263, 264,
       267, 270, 276, 278, 281, 288, 289, 300, 305, 308, 309, 310, 315,
       316, 326, 337, 351, 353, 358, 359, 364, 367, 373, 377, 379, 380,
       384, 385, 389, 392, 393, 395, 400, 404, 410, 411, 414, 419, 420,
       430, 438, 445, 446, 462, 466, 472, 474, 480, 482, 487, 489, 491,
       494, 502, 503, 505, 513, 522, 528, 529, 552, 555, 563, 568, 572,
       573, 575, 578, 584, 586, 594, 596, 599, 606, 609, 613, 618, 620,
       622, 624, 629, 631, 632, 635, 648, 656, 669, 674, 676, 679, 682,
       691, 692, 694, 695, 701, 711, 715, 719, 721, 730, 733, 736, 739,
       752, 753, 755, 759, 771, 772, 775, 777, 778, 798, 823, 826, 828,
       838, 841, 852, 859, 868, 874, 878, 879, 882])), (array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        28,  30,  31,  32,  33,  34,  35,  37,  38,  39,  40,  41,  42,
        43,  44,  45,  46,  48,  50,  51,  52,  53,  55,  56,  57,  59,
        60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,
        73,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  87,
        88,  89,  90,  91,  92,  94,  95,  96,  97,  98,  99, 100, 101,
       103, 104, 105, 106, 107, 108, 110, 111, 112, 113, 114, 115, 117,
       118, 119, 120, 121, 122, 124, 126, 127, 128, 131, 132, 133, 134,
       136, 137, 138, 139, 140, 141, 142, 143, 144, 146, 147, 148, 150,
       151, 152, 153, 154, 155, 157, 158, 159, 160, 161, 162, 163, 164,
       165, 168, 169, 170, 171, 173, 174, 175, 176, 177, 178, 179, 180,
       181, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 195,
       196, 197, 199, 200, 202, 203, 206, 207, 209, 210, 211, 212, 213,
       214, 215, 216, 218, 220, 221, 222, 224, 225, 227, 231, 233, 234,
       235, 236, 237, 238, 239, 242, 243, 245, 246, 247, 248, 249, 251,
       252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 263, 264, 266,
       267, 268, 270, 271, 273, 274, 275, 276, 278, 280, 281, 282, 283,
       285, 286, 287, 288, 289, 290, 291, 293, 295, 297, 299, 300, 301,
       302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 313, 314, 315,
       316, 322, 323, 324, 325, 326, 327, 328, 330, 331, 334, 335, 336,
       337, 338, 339, 340, 341, 342, 343, 345, 346, 347, 348, 350, 351,
       352, 353, 354, 356, 357, 358, 359, 362, 363, 364, 365, 366, 367,
       368, 369, 370, 371, 372, 373, 374, 376, 377, 378, 379, 380, 381,
       383, 384, 385, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396,
       397, 399, 400, 402, 403, 404, 405, 406, 407, 408, 410, 411, 412,
       414, 415, 416, 417, 419, 420, 421, 422, 423, 424, 425, 426, 427,
       428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 453, 454, 456,
       457, 458, 459, 461, 462, 465, 466, 468, 469, 471, 472, 473, 474,
       476, 477, 478, 480, 482, 483, 484, 485, 486, 487, 488, 489, 490,
       491, 492, 493, 494, 496, 497, 498, 499, 501, 502, 503, 504, 505,
       506, 507, 509, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       522, 523, 524, 526, 527, 528, 529, 530, 531, 533, 534, 535, 536,
       537, 538, 539, 540, 541, 542, 543, 545, 548, 549, 550, 551, 552,
       553, 554, 555, 557, 558, 560, 561, 563, 564, 567, 568, 571, 572,
       573, 575, 577, 578, 579, 580, 584, 585, 586, 587, 588, 590, 591,
       592, 593, 594, 595, 596, 598, 599, 601, 602, 603, 605, 606, 607,
       609, 610, 611, 613, 614, 615, 617, 618, 620, 622, 623, 624, 625,
       626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 637, 638, 640,
       641, 642, 644, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655,
       656, 657, 659, 660, 661, 663, 665, 667, 668, 669, 670, 672, 673,
       674, 675, 676, 678, 679, 682, 683, 684, 685, 686, 687, 690, 691,
       692, 694, 695, 696, 697, 698, 701, 703, 705, 707, 708, 710, 711,
       713, 714, 715, 718, 719, 721, 722, 723, 724, 726, 727, 728, 729,
       730, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 745,
       746, 747, 748, 750, 751, 752, 753, 755, 757, 759, 760, 761, 762,
       764, 765, 766, 768, 770, 771, 772, 773, 775, 776, 777, 778, 779,
       780, 781, 782, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794,
       795, 796, 797, 798, 799, 800, 801, 803, 804, 806, 807, 808, 809,
       810, 811, 812, 813, 814, 815, 818, 820, 821, 822, 823, 824, 826,
       827, 828, 829, 830, 833, 834, 835, 836, 837, 838, 839, 841, 842,
       843, 844, 845, 846, 848, 849, 851, 852, 853, 855, 856, 858, 859,
       860, 861, 862, 863, 864, 865, 868, 870, 872, 873, 874, 875, 876,
       877, 878, 879, 881, 882, 883, 884, 885, 887, 888, 890]), array([ 10,  27,  29,  36,  47,  49,  54,  58,  74,  86,  93, 102, 109,
       116, 123, 125, 129, 130, 135, 145, 149, 156, 166, 167, 172, 182,
       194, 198, 201, 204, 205, 208, 217, 219, 223, 226, 228, 229, 230,
       232, 240, 241, 244, 250, 262, 265, 269, 272, 277, 279, 284, 292,
       294, 296, 298, 312, 317, 318, 319, 320, 321, 329, 332, 333, 344,
       349, 355, 360, 361, 375, 382, 386, 398, 401, 409, 413, 418, 439,
       452, 455, 460, 463, 464, 467, 470, 475, 479, 481, 495, 500, 508,
       510, 521, 525, 532, 544, 546, 547, 556, 559, 562, 565, 566, 569,
       570, 574, 576, 581, 582, 583, 589, 597, 600, 604, 608, 612, 616,
       619, 621, 636, 639, 643, 645, 658, 662, 664, 666, 671, 677, 680,
       681, 688, 689, 693, 699, 700, 702, 704, 706, 709, 712, 716, 717,
       720, 725, 731, 743, 744, 749, 754, 756, 758, 763, 767, 769, 774,
       783, 784, 802, 805, 816, 817, 819, 825, 831, 832, 840, 847, 850,
       854, 857, 866, 867, 869, 871, 880, 886, 889])), (array([  0,   1,   4,   5,   6,   7,   8,  10,  11,  12,  13,  16,  17,
        19,  20,  22,  23,  24,  25,  26,  27,  28,  29,  30,  31,  32,
        34,  35,  36,  37,  39,  40,  41,  42,  43,  44,  45,  46,  47,
        48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,
        61,  62,  63,  64,  66,  67,  68,  70,  71,  72,  74,  75,  76,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  90,  91,
        93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105,
       106, 107, 108, 109, 110, 113, 114, 115, 116, 117, 118, 120, 121,
       122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134,
       135, 136, 137, 138, 139, 140, 141, 142, 143, 145, 146, 147, 148,
       149, 150, 153, 154, 155, 156, 158, 159, 160, 161, 162, 164, 166,
       167, 168, 169, 170, 172, 173, 174, 175, 176, 177, 178, 181, 182,
       183, 184, 185, 186, 187, 189, 192, 193, 194, 196, 198, 201, 203,
       204, 205, 206, 207, 208, 211, 212, 213, 216, 217, 218, 219, 221,
       222, 223, 224, 225, 226, 228, 229, 230, 232, 234, 235, 237, 238,
       239, 240, 241, 243, 244, 245, 246, 247, 248, 249, 250, 251, 253,
       254, 255, 257, 258, 259, 261, 262, 263, 264, 265, 267, 268, 269,
       270, 271, 272, 273, 275, 276, 277, 278, 279, 281, 282, 283, 284,
       285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297,
       298, 300, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 328, 329, 331, 332, 333, 335, 336, 337, 340, 341, 343, 344,
       345, 347, 348, 349, 350, 351, 352, 353, 354, 355, 357, 358, 359,
       360, 361, 362, 363, 364, 365, 367, 368, 369, 371, 372, 373, 374,
       375, 376, 377, 379, 380, 381, 382, 383, 384, 385, 386, 387, 389,
       390, 392, 393, 394, 395, 398, 399, 400, 401, 402, 403, 404, 406,
       407, 409, 410, 411, 412, 413, 414, 416, 418, 419, 420, 421, 423,
       425, 426, 429, 430, 431, 432, 433, 435, 436, 437, 438, 439, 440,
       445, 446, 447, 448, 449, 450, 452, 455, 456, 460, 461, 462, 463,
       464, 465, 466, 467, 468, 469, 470, 472, 473, 474, 475, 477, 479,
       480, 481, 482, 483, 484, 485, 486, 487, 489, 491, 493, 494, 495,
       497, 498, 499, 500, 502, 503, 505, 506, 507, 508, 510, 511, 512,
       513, 516, 517, 518, 519, 520, 521, 522, 523, 525, 526, 527, 528,
       529, 531, 532, 533, 535, 536, 539, 544, 546, 547, 549, 550, 552,
       554, 555, 556, 558, 559, 560, 561, 562, 563, 564, 565, 566, 568,
       569, 570, 572, 573, 574, 575, 576, 577, 578, 581, 582, 583, 584,
       586, 587, 589, 590, 592, 594, 595, 596, 597, 598, 599, 600, 601,
       602, 604, 606, 607, 608, 609, 611, 612, 613, 614, 615, 616, 617,
       618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 631,
       632, 633, 635, 636, 637, 638, 639, 641, 643, 645, 647, 648, 650,
       652, 654, 655, 656, 658, 660, 662, 663, 664, 665, 666, 667, 668,
       669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681,
       682, 683, 685, 686, 688, 689, 691, 692, 693, 694, 695, 696, 697,
       698, 699, 700, 701, 702, 704, 706, 707, 708, 709, 710, 711, 712,
       714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 729,
       730, 731, 732, 733, 734, 736, 737, 738, 739, 740, 743, 744, 745,
       746, 749, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762,
       763, 764, 765, 766, 767, 769, 770, 771, 772, 773, 774, 775, 777,
       778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 790, 791,
       793, 795, 796, 797, 798, 799, 801, 802, 803, 805, 807, 808, 811,
       813, 814, 816, 817, 818, 819, 820, 822, 823, 825, 826, 828, 829,
       830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 843,
       844, 845, 846, 847, 848, 849, 850, 851, 852, 854, 855, 856, 857,
       859, 862, 863, 866, 867, 868, 869, 870, 871, 873, 874, 875, 876,
       878, 879, 880, 881, 882, 883, 884, 885, 886, 889, 890]), array([  2,   3,   9,  14,  15,  18,  21,  33,  38,  65,  69,  73,  77,
        89,  92, 111, 112, 119, 144, 151, 152, 157, 163, 165, 171, 179,
       180, 188, 190, 191, 195, 197, 199, 200, 202, 209, 210, 214, 215,
       220, 227, 231, 233, 236, 242, 252, 256, 260, 266, 274, 280, 299,
       301, 327, 330, 334, 338, 339, 342, 346, 356, 366, 370, 378, 388,
       391, 396, 397, 405, 408, 415, 417, 422, 424, 427, 428, 434, 441,
       442, 443, 444, 451, 453, 454, 457, 458, 459, 471, 476, 478, 488,
       490, 492, 496, 501, 504, 509, 514, 515, 524, 530, 534, 537, 538,
       540, 541, 542, 543, 545, 548, 551, 553, 557, 567, 571, 579, 580,
       585, 588, 591, 593, 603, 605, 610, 630, 634, 640, 642, 644, 646,
       649, 651, 653, 657, 659, 661, 684, 687, 690, 703, 705, 713, 726,
       727, 728, 735, 741, 742, 747, 748, 750, 751, 768, 776, 789, 792,
       794, 800, 804, 806, 809, 810, 812, 815, 821, 824, 827, 842, 853,
       858, 860, 861, 864, 865, 872, 877, 887, 888])), (array([  0,   2,   3,   4,   6,   9,  10,  13,  14,  15,  16,  18,  19,
        20,  21,  22,  23,  24,  26,  27,  28,  29,  30,  31,  33,  34,
        35,  36,  38,  39,  40,  42,  43,  45,  47,  48,  49,  52,  53,