<a id=0></a>
# 2. DataFrameを理解する

---
### [1.Arrayの作成、SeriesとDataFrameの作成 ](#1)
### [2.SeriesとDataFrame](#2)
### [3.DataFrameの基礎データとaxisの理解](#3)
### [4.IndexとColumnについて](#4)
### [5.欠損値](#5)
### [6.DataFrameを別のファイルとして保存](#6)
---

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

---
<a id=1></a>
[Topへ](#0)

---
## 1.Arrayの作成、SeriesとDataFrameの作成

* 100 - 10000の整数データ (100,)からSeriesを作成
* Series と ndarry
* Seriesに名前を付ける
* 10 - 100の整数データ (100,)からSeriesを作成
* 0 - 10の小数データ (100, 2)からDataFrameを作成
* 40 - 60の範囲の一様分布の小数データ (100, 1)からDataFrameを作成
* 平均 0、標準偏差 1の正規分布に従う小数データ (100, 1)からDataFrameを作成
* 平均50、標準偏差10の正規分布に従う小数データ (100, 1)からDataFrameを作成
* ['red', 'green', 'blue'] (100, 1)、 ['circle', 'square', 'triangle'] (100, 1)、ndarrayを合しDataFrameを作成
* datetime 1997/7/5から1日刻み (100, 1)からDatetimeIndex、Seriesを作成
* Series, DataFrameを結合
* DataFrameのサンプル（レコード）の一部を抽出する
---

100 - 10000の整数データ (100,)からSeriesを作成

Series と ndarry

Seriesに名前を付ける

10 - 100の整数データ (100,)からSeriesを作成

0 - 10の小数データ (100, 2)からDataFrameを作成

40 - 60の範囲の一様分布の小数データ (100, 1)からDataFrameを作成

平均 0、標準偏差 1の正規分布に従う小数データ (100, 1)からDataFrameを作成

平均50、標準偏差10の正規分布に従う小数データ (100, 1)からDataFrameを作成

['red', 'green', 'blue'] (100, 1)、 ['circle', 'square', 'triangle'] (100, 1)、ndarrayを結合しDataFrameを作成

datetime 1997/7/5から1日刻み (100, 1)からDatetimeIndex、Seriesを作成

Series, DataFrameを結合

DataFrameのサンプル（レコード）の一部を抽出する

---
<a id=2></a>
[Topへ](#0)

---
## 2.SeriesとDataFrame

* SeriesとDataFrameの関係性
* Series、DataFrameをndarrayに変換
* Series、DataFrameをlistに変換
* Series、DataFrameをdictionaryに変換
* Seriesの作成
* DataFrameの作成
---

SeriesとDataFrameの関係性

Series、DataFrameをndarrayに変換

Series、DataFrameをlistに変換

Series、DataFrameをdictionaryに変換

Seriesの作成

DataFrameの作成

---
<a id=3></a>
[Topへ](#0)

---
## 3.DataFrameの基礎データとaxisの理解

* len(df) : レコード数
* df.info() : null, dtypeなど
* df.size : 要素数
* df.shape : index * columns
* df.count : 個数（要素の数）
* df.sum() : 合計（要素の値の合計）
* axisの理解
---

len(df) : レコード数

df.info() : null, dtypeなど

df.size : 要素数

df.shape : index * columns

df.count : 個数（要素の数）

df.sum() : 合計（要素の値の合計）

In [ ]:
# TypeErrorが発生する可能性があります。
# デフォルトがnumeric_only = Falseに変更されているのがその原因です
# エラーが出た場合はこのセルは無視して次に説明をするnumeric_only = Trueを利用して合計値を算出してください

axisの理解

---
<a id=4></a>
[Topへ](#0)

---
## 4.IndexとColumnについて

* indexとcolumnsの取得
* indexの設定とリセット
* indexラベル、columnラベルの変更
---

indexとcolumnsの取得

indexの設定とリセット

indexラベル、columnラベルの変更

---
<a id=5></a>
[Topへ](#0)

---
## 5.欠損値

* None, null, np.nanを確認
* DataFrameの欠損値はNoneもしくはnp.nanで置き換える
* df.isnull()の使い方
* 欠損値のある行を表示
* nullは平均値の計算などに影響するか
* 欠損値を視覚化
---

None, null, np.nanを確認

DataFrameの欠損値はNoneもしくはnp.nanで置き換える

df.isnull()の使い方

欠損値のある行を表示

nullは平均値の計算などに影響するか

欠損値の有無を視覚化  
※ seabornやグラフについての詳細は別のレクチャーで解説します

---
<a id=6></a>
[Topへ](#0)

---
## 6.DataFrameを別のファイルとして保存
---

---
[Topへ](#0)

---
## 以上
---