---
# DataFrame  Exercise
---

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Exercise_1 : Pandas の date_range を用いて 2000/7/1 から100日の DatetimeIndexと、2000/7/1 0時からから3時間毎の100個の DatetimeIndexを作成してください（date）

In [ ]:
dates =

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>dates = pd.date_range('2000/7/1', periods=100, freq='D')</code>
</details>

In [ ]:
# 実行して表示
dates[:10]

In [ ]:
times =

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>dates = pd.date_range('2000/7/1', periods=100, freq='3H')</code>
</details>

In [ ]:
# 実行して表示
times[:10]

Exercise_2 : arr_int と arr_uni の Numpy Array を index方向（縦、1次元方向）、column方向（横、2次元方向）に結合してください（arr_concat_v, arr_concat_h）

In [ ]:
# 実行のみ
arr_int = np.random.randint(0, 100, (4, 3))
arr_uni = np.random.uniform(40, 60, (4, 3))

In [ ]:
arr_concat_v = 
arr_concat_v

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>arr_concat_v = np.concatenate([arr_int, arr_uni], axis=0)</code>
</details>

In [ ]:
# 実行して表示
arr_concat_v.shape
# (8, 3)が表示されればOK

In [ ]:
arr_concat_h = 
arr_concat_h

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>arr_concat_h = np.concatenate([arr_int, arr_uni], axis=1)</code>
</details>

In [ ]:
arr_concat_h.shape
# (4, 6)が表示されればOK

Exercise_3 : arr_concat_v から、Seriesを作成してください（sr1）。　ヒント　次元の変更

In [ ]:
sr1 =

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>sr1 = pd.Series(arr_concat_v.flatten())</code>
</details>

In [ ]:
# 実行して表示
sr1

Exercise_4 : arr_concat_h から、indexラベルを ['Zero', 'One', 'Two', 'Three']、columnラベルを ['A', 'B', 'C', 'D', 'E', 'F'] としてデータフレームを作成してください（df1)

In [ ]:
df1 =

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df1 = pd.DataFrame(arr_concat_h, index=['Zero', 'One', 'Two', 'Three'], columns= ['A', 'B', 'C', 'D', 'E', 'F'])</code>
</details>

In [ ]:
# 実行して表示
df1

Exercise_5 : 上記 df の indexラベルを ['P', 'Q', 'R', 'S']、columnラベルを ['col_0', 'col_1', 'col_2', 'col_3', 'col_4', 'col_5'] へ変更してください

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df1.index = ['P', 'Q', 'R', 'S']</code><br>
    <code>df1.columns = ['col_0', 'col_1', 'col_2', 'col_3', 'col_4', 'col_5']</code><br>
    <code>df1.rename(index={'旧':'新', ...}, columns={'旧':'新', ...})でも可</code>
</details>

In [ ]:
# 実行して表示
df1

Exercise_6: 下記 df2 を df1 と index方向へ結合してください（df）。また、column方向へ結合した場合も確認してください（実行するだけです）。

In [ ]:
# 実行して表示
arr = np.array(np.arange(24)).reshape(4, 6)
df2 = pd.DataFrame(arr, index=list('ABCD'), columns=['col_0', 'col_1', 'col_2', 'col_3', 'col_4', 'col_5'])   # column名は同じ
df2

In [ ]:
df =

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df = pd.concat([df1, df2], axis=0)</code>
</details>

In [ ]:
# 実行して表示
df

In [ ]:
# 実行して表示
pd.concat([df1, df2], axis=1)

Exercise_7: exercise_2のarr_intとarr_uniをnp.concatenateとは別のメソッドで縦方向、横方向に結合してください。

In [ ]:
# 縦方向
arr_v =

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>arr_v = np.vstack([arr_int, arr_uni])</code>
</details>

In [ ]:
# 実行して表示
arr_v

In [ ]:
# 横方向
arr_h =

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>arr_h = np.hstack([arr_int, arr_uni])</code>
</details>

In [ ]:
# 実行して表示
arr_h

Exercise_8 : df の index count, column, non-null count, dtype などのInformation一覧を表示してください

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.info()</code>
</details>

Exercise_9: dfの列毎の数値の合計、行毎の数値の合計を表示してください

In [ ]:
# 列

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.sum()</code>
</details>

In [ ]:
# 行

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.sum(axis=1)</code>
</details>

Exercise_10: dfの先頭3行を表示してください。またdfをシャッフルし（df_shuffled）、その末尾の3行を表示してください。

In [1]:
# 先頭3行

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.head(3)</code>
</details>

In [ ]:
df_shuffled =

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df_shuffled = df.sample(frac=1)</code>
</details>

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df_shuffled.tail(3)</code>
</details>

Exercise_11 : df を 現在の index(A, B, ..., S) に対して降順に並べ替え（df.sort_index(inplace=True)）、index をリセットし0,1,2の通し番号に戻してくだださい。さらに新規にできるカラム'index' を 'class' に変更してください。

In [ ]:
# 実行して表示
df

In [ ]:
# 並べ替えのみ。（コース内での紹介はありませんでした）

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.sort_index(inplace=True)</code>
</details>

In [ ]:
# 実行して表示
df

In [ ]:
# indexをリセット

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.reset_index(inplace=True)</code>
</details>

In [ ]:
# 実行して表示
df

In [ ]:
# column名を変更

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.rename(columns={'index':'class'}, inplace=True)</code>
</details>

In [ ]:
# 実行して表示
df

Exercise_12 : dfの各カラム名の末尾に'*'の文字列を付加したデータフレーム（df_star）を作成してください

In [ ]:
df_star =

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df_star = df.add_suffix('*')</code>
</details>

In [ ]:
# 実行して表示
df_star

Exercise_13 : dfのレコード（サンプル）ごとの値をリストとして取り出してください。また、レコードごとの{カラム名：値, .....｝形式のディクショナリ―も作成してください（リスト内のディクショナリー）

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.values.tolist()</code>
</details>

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.to_dict(orient='records')</code>
</details>

Exercise_14 : 以下でいくつかの値を np.nan で置き換えています。DataFrame形式ですべての要素に対して nan であるかどうかをTrue/Falseで表示してください。またカラム毎の nan の合計、全体の nan の合計を表示してください。

In [ ]:
# 実行して表示
list_null = [[0, 2], [2, 3], [3, 4], [4, 5], [6, 5]]
for i in list_null:
    df.iloc[i[0], i[1]] = np.nan

df

In [ ]:
# すべての要素に対して True or False

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.isnull()</code>
</details>

In [ ]:
# カラム毎のnanの合計

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.isnull().sum()</code>
</details>

In [ ]:
# 全体のnanの合計

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.isnull().sum().sum()</code>
</details>

Exercise_15 : nanではないレコードの数をカラム毎に表示して下さい

In [ ]:
df.count()

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.count()</code>
</details>

Exercise_14 : nan を含むレコードのみを表示して下さい。　ヒント：「各レコード」に対して nan の合計を求め、それが 1 以上のものだけを抽出

In [ ]:
# レコード毎のnanの合計

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.isnull().sum(axis=1)</code>
</details>

In [ ]:
# 上記の合計 >= 1 の条件で抽出
# .style.highlight_null(null_color='red')を使ってください

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df[df.isnull().sum(axis=1) >= 1].style.highlight_null(null_color='red')</code>
</details>

Exercise_16 : dfの数値のみのカラム毎の合計値を、異なる二つの手法で求めてください

In [ ]:
# 実行して表示
df.sum()

In [ ]:
# sumのキーワードアーギュメント（キーワード引数）を指定する方法

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.sum(numeric_only=True)</code>
</details>

In [ ]:
# dtypeが数値のもののみを選択する方法

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.select_dtypes(include=[int, float]).sum()</code>
</details>

Exercise_17 : nan を視覚的に把握できるように seaborn の heatmap で df.isnull() を表示してください。

In [ ]:
# 実行して表示するだけ
sns.heatmap(df.isnull())

Exercise_18 : 今回作成した df を df_exercise.csv として現在のワーキングディレクトリに保存してください

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.to_csv('df_exercise.csv')</code>
</details>

Exercise_19 : 下記の値を答えてください

In [ ]:
# 実行して表示
np.random.seed(17)
arr = np.arange(12).reshape(2, 2, 3)
arr

In [ ]:
# 結果を考えてから、実行して確認
print(arr.sum(axis=0))

In [ ]:
# 結果を考えてから、実行して確認
print(arr.sum(axis=1))

In [ ]:
# 結果を考えてから、実行して確認
print(arr.mean(axis=2))

## 以上