---
# 3.DataFrame Exercise
---

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Exercise_1 : 'sample1_with_index.csv'を読み込んでデータフレーム（df）を作成して下さい。その際にindexにカラムインデックス0のデータを割り当ててください (google colaboratoryの場合は、ドライブのマウントを行ってください。ファイルパスは '/drive/My Drive/sample1_with_index.csv)

In [ ]:
df =

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df = pd.read_csv('sample1_with_index.csv', index_col=0)</code>
</details>

In [ ]:
# 実行して表示
df.head(3)

Exercise_2 : 重複行としてインデックス5,6,7,8のレコードをdfに追加してください。その後、インデックスをリセットしてください。

In [ ]:
# 追加
df = df.append(df.loc[5:8])

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df = df.append(df.loc[5:8])</code>
</details>

In [ ]:
# インデックスをリセット

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.reset_index(drop=True, inplace=True)</code>
</details>

In [ ]:
# 実行して表示
df.tail()

Exercise_3 : 現在object型になっている'Date'をdatetime型に変換してください

In [ ]:
# 実行して表示
df.info()

In [ ]:
df['Date'] =

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df['Date'] = pd.to_datetime(df['Date'])</code>
</details>

In [ ]:
# 実行して表示
df.info()

Exercise_4 : 'Price'の先頭の5行をデータフレーム形式で表示してください。

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df[['Price']].head()</code>
</details>

Exercise_5 : locを用いてindex15～20、'Width'から'Difference'の値を表示してください

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.loc[15:20, 'Width':'Difference']</code>
</details>

Exercise_6 : インデックスが40～45、カラムのindexが 2,4,6 の値を表示してください

In [ ]:
df.iloc[40:46, [2, 4, 6]]

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.iloc[40:46, [2, 4, 6]]</code>
</details>

Exercise_7 : 'Difference'の値が2より大きいか、もしくは-2より小さいもののレコードを表示してください

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df[(df['Difference'] > 2) | (df['Difference'] < -2)]</code>
</details>

Exercise_8: インデックスが17と19の'Color'の値をともに'purple'に、また'Difference'の値をそれぞれ0.111と0.888に更新してください

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.loc[[17, 19], ['Color', 'Difference']] = [['purple', 0.111], ['purple', 0.888]]</code>
</details>

In [ ]:
# 実行して表示
df.loc[[17, 19]]

Exercise_9 : カラム名に 'ty' を含むカラムのインデックス100の値を表示してください

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.filter(like='ty', axis=1).loc[100]</code>
</details>

Exercise_10 : queryを使い、'Shape'が'circle'もしくは'triangle'、かつ'Score'が70以上のレコードを表示してください

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.query("Shape in ['circle', 'triangle'] & Score >=70")</code>
</details>

Exercise_11: 各カラムの基本統計量を表示してください

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.describe()</code>
</details>

Exercise_12 : 'Shape'に存在するユニークな値の数、その値を全て含むアレイ、またそれぞれの値のカウントを表示してください

In [ ]:
# ユニークな値はいくつあるか


# !!!
# nunique()には nan は数として含まれません！！！
# !!!

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df['Shape'].nunique()</code>
</details>

In [ ]:
# ユニークな値のアレイ

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df['Shape'].unique()</code>
</details>

In [ ]:
# それぞれの値の個数

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df['Shape'].value_counts()</code>
</details>

Exercise_13 : 'Quality'の値の大きいもの3つのindexを取得し、それらの全データを表示してください

In [ ]:
# 上位3つのindex
idxs =

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>idxs = df['Quality'].nlargest(3).index</code>
</details>

In [ ]:
# 実行して表示
idxs
# Int64Index([57, 42, 89], dtype='int64')が表示されればOK

In [ ]:
# 実行して表示
df.iloc[idxs]

Exercise_14 : 'Color'でグループ化し、その中のグループ'green'に属するデータの先頭5行を表示してください

In [ ]:

# index 0, 3, 5, 10, 12のレコードが表示されればOK

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.groupby('Color').get_group('green').head()</code>
</details>

Exercise_15 :  'Color'でグループ化した'Price'と'Quantity'の統計量（平均と中央値）を表示してください（aggを使って）

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.groupby('Color')[['Price', 'Quantity']].agg(['mean', 'median'])</code>
</details>

Exercise_16 : 'Color'と'Shape'のふたつのクラスでグループ化し、その中の'red'と'square'に属するグループのレコードを表示してください。

In [ ]:
# まずはグループを確認する

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.groupby(['Color', 'Shape']).groups</code>
</details>

In [ ]:
# red, squareのグループを抽出する

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.groupby(['Color', 'Shape']).get_group(('red','square'))</code>
</details>

Exercise_17 : 下記のdf_Dにおいて'Shape'が'triangle'である行だけを表示してください

In [ ]:
# 実行して表示
df_D = df.groupby(['Color', 'Shape']).describe()
df_D

In [ ]:
# 実行して表示
df_D.index

In [ ]:
# 回りくどいですが、条件をconditionに指定してください
condition =

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>condition = df_D.index.get_level_values('Shape') == 'triangle'</code>
</details>

In [ ]:
# 実行して表示
df_D[condition]

Exercise_18 : dfを'Color'に対して昇順、さらに'Quantity'に対して降順に並べ替えて表示してください。その際、nanを先頭に表示してください。

In [ ]:
df_sorted =

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df_sorted = df.sort_values(by=['Color', 'Quantity'], ascending=[True, False], na_position='first')</code>
</details>

In [ ]:
# 実行して表示
df_sorted

Exercise_19 : クロスセクション（xs）を使ってdf_Dの'Shape'が'triangle'であるレコードを抽出してください

In [ ]:
# 重複行の数（sum）を確認

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df_D.xs('triangle', level='Shape')</code>
</details>

Exercise_20 : dfの重複行の数を確認し、重複行を削除してください

In [ ]:
# 重複行の数（sum）を確認

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.duplicated().sum()</code>
</details>

In [ ]:
# 削除

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.drop_duplicates(inplace=True)</code>
</details>

In [ ]:
# 実行して確認.100が表示されればOK
len(df)

Exercise_21 : 条件に従って欠損値の処理を行ってください（dictionaryを使った方法です）

In [ ]:
# 実行して表示
# 'Date'がnullのレコードを表示
df[df['Date'].isnull()]

In [ ]:
# 'Date'がNaTのレコードを削除。subsetを利用します

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.dropna(subset=['Date'], inplace=True)</code><br>
</details>

In [ ]:
# 実行して表示
df[df['Date'].isnull()]
# レコードが表示されなければOK

In [ ]:
# 実行して表示
# 'Color'は'white'で、'Shape'は'ellipse'で、その他は平均値で置き換えます。
# そのためには置き換える値を指定するためのdictionaryが必要になります。
# ひとまずnanを持つレコードを表示します
df[df.isnull().sum(axis=1) > 0].style.highlight_null(null_color='#fcc')

In [ ]:
# 実行して表示
hasnull_index = df[df.isnull().sum(axis=1) > 0].index
hasnull_index

In [ ]:
# 'Width'から'Score'までの平均値を表示してください('Difference'は除く)。iloc, mean()を使います

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.iloc[:, 3:8].mean()</code>
</details>

In [ ]:
# 上記のデータをdictionaryに変換します
replace_dict =

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>replace_dict = dict(df.iloc[:, 3:8].mean()) # もしくはdf.iloc[:, 3:8].mean().to_dict()</code>
</details>

In [ ]:
# 実行して表示
replace_dict

In [ ]:
# replace_dictに, 'Color:'white', 'Shape':'ellipse'を追加してください

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>replace_dict['Color'] = 'white'</code><br>
    <code>replace_dict['Shape'] = 'ellipse'</code>
</details>

In [ ]:
# 実行して表示
replace_dict

In [ ]:
# fillnaを実行してください

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df.fillna(replace_dict, inplace=True)</code>
</details>

In [ ]:
# 実行して表示
df.loc[hasnull_index]

In [ ]:
# 実行して表示
df.isnull().sum().sum()
# 1が表示されればOK

In [ ]:
# df['COL_NAME'].fillna(df['COL_NAME'].mean())を繰り返すという方法がもっともシンプルです

Exercise_22 : SimpleImputerを使って'Difference'のNaN(index=46)を中央値で補間してください

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
# 実行して表示
# 'Difference'のmedianを確認
df.describe().loc['50%', 'Difference']
# 上記が不明な場合はdf.describe()から確認してください

In [ ]:
# インスタンス（オブジェクトの作成）
median_imputer =

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>median_imputer = SimpleImputer(strategy='median')</code>
</details>

In [ ]:
# fitとtransformを同時に行って、新しいカラム'Dif_Imputed'にその値を入れる
df['Dif_Imputed'] =

<details>
    <summary><font color='red'>解答はここをクリック</font></summary>
    <code>df['Dif_Imputed'] = median_imputer.fit_transform(df[['Difference']])</code>
</details>

In [ ]:
# 実行して表示　0.13770...
df.loc[46, 'Dif_Imputed']

## 以上